.wrapper{
    display: grid;
    grid-template-columns: repeat(50,50px);
    grid-template-rows: repeat(50,50px);
    grid-gap: 10px;
    grid-auto-columns:10px;
    grid-auto-rows: minmax(10px, auto);

}

